* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header-nav {
  background: linear-gradient(white, dodgerblue);
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand h1 {
  font-family: "Oxygen", sans-serif;
  color: #2f22;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px rgb(9, 91, 172) solid;
}

.navbar-header button.navbar-toggle {
  margin-top: 25px;
}

#nav-list li a {
  font-family: "Oxygen", sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: rgb(59, 58, 58);
}

#nav-list li a:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}

nav.navbar {
  margin: 0;
}

.jumbotron {
  margin: 0;
  background: radial-gradient(dodgerblue, lightblue);
}

#menu-title {
  font-weight: 400;
  color: black;
}

.jumbotron section span {
  color: black;
  margin-top: 50px;
  font-weight: 200;
}

.jumbotron section p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#to-top {
  text-decoration: none;
  margin-left: 7%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#to-top span {
  color: rgb(4, 0, 255);
  padding: 5px;
}

#top {
  text-decoration: none;
}

#top span {
  color: blue;
}

@media (max-width: 767px) {
  .navbar-header {
    padding-bottom: 20px;
  }
}
